* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Fredoka', sans-serif;
}
img {
    max-height: 100px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.background-black{
    background-color: #222222;
}
/* CLEARFIX */
.clearfix::after {
   content: "";
   display: table;
   clear: both;
    
}
/* Containers */
.container-header {
    max-width: 1000px;
    margin: 0 auto;
}
.container-main {
    max-width: 1000px;
    margin: 0 auto;
}
.container-footer {
    max-width: 1000px;
    margin: 0 auto;
   
   
}


/* Header  */
.title {
    color: #e53170;
    text-align: center;
    padding: 20px 0;
}
/* intro / primo p  */
.intro {
    margin-bottom: 30px;
    text-align: center;

}
/* Carte del personale */
.person-card {
    background-color: #222222;
    color: white;
    margin-right: 20px;
    
   /* questa operazione con calc prende il 100% della larghezza leva 40px che sono i margin right dei primi 2 elementi e li divide per 3  */
    width: calc((100%-40px) / 3);
    /* width: calc((100%-80px) / 6); */
    margin-bottom: 40px;
    height: 100px;
    box-shadow: 3px 3px 3px black;
   
}
.person-card:nth-of-type(3n){
    margin-right: 0;
}
/* .person-card:nth-of-type(6){
    margin-right: 0;
} */

.name-surname {
    font-weight: 700;
}
.email {
    color: #69b1b9;
}
.name-surname,.email, .work-name {
    /* padding: 4px; */
    padding: 5px 8px;
}
.person-info {
   width: 200px;
}

/* FOOTER  */
.footer-text{
    color: white;
    padding-top: 30px;
    padding-bottom: 80px;
}



/* DEBUG */
/* .debug { */
    /* border: 2px solid black; */
    /* width: 200px; */
    /* width: 33%; */
    
    

    
    
/* } */
/* .debug p { */
 /* padding: 6px; */

/* } */