* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Fredoka', sans-serif;
}
img {
    max-height: 100px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/* CLEARFIX */
.clearfix::after {
   content: "";
   display: table;
   clear: both;
    
}
/* Containers */
.container-header {
    max-width: 800px;
    margin: 0 auto;
}
.container-main {
    max-width: 800px;
    margin: 0 auto;
}
.container-footer {
    max-width: 800px;
    margin: 0 auto;
    background-color: #222222;
}


/* Header  */
.title {
    color: #e53170;
    text-align: center;
    padding: 20px 0;
}

/* Carte del personale */
.person-card {
   background-color: #222222;
    color: white;
    margin: 15px;
   
    
}
.person-info{
    padding: 5px;
}
.name-surname {
    font-weight: 700;
}
.email {
    color: #69b1b9;
}
.name-surname,.email, .work-name {
    padding: 6px;
}
.person-info {
    display: inline-block;
    
}


/* DEBUG */
.debug {
    /* border: 2px solid black; */
    /* width: 200px; */
    /* width: 33%; */
    
    

    
    
}
.debug p {
 /* padding: 6px; */

}